[submodule "src/3rdparty/qcrosscache"]
	path = src/3rdparty/qcrosscache
	url = git@github.com:flaviomarcio/qcrosscache.git
[submodule "src/3rdparty/qstm"]
	path = src/3rdparty/qstm
	url = git@github.com:flaviomarcio/qstm.git
[submodule "src/3rdparty/qapr"]
	path = src/3rdparty/qapr
	url = git@github.com:flaviomarcio/qapr.git
[submodule "src/3rdparty/qorm"]
	path = src/3rdparty/qorm
	url = git@github.com:flaviomarcio/qorm.git
[submodule "src/3rdparty/qrpc"]
	path = src/3rdparty/qrpc
	url = git@github.com:flaviomarcio/qrpc.git
[submodule "src/3rdparty/qtokenutil"]
	path = src/3rdparty/qtokenutil
	url = git@github.com:flaviomarcio/qtokenutil.git
[submodule "src/3rdparty/qjsonwebtoken"]
	path = src/3rdparty/qjsonwebtoken
	url = git@github.com:flaviomarcio/qjsonwebtoken.git
[submodule "src/3rdparty/qtinyaes"]
	path = src/3rdparty/qtinyaes
	url = git@github.com:flaviomarcio/qtinyaes.git
[submodule "src/3rdparty/qmetaui"]
	path = src/3rdparty/qmetaui
	url = git@github.com:flaviomarcio/qmetaui.git
[submodule "src/3rdparty/qstatusbar"]
	path = src/3rdparty/qstatusbar
	url = git@github.com:flaviomarcio/qstatusbar.git
[submodule "src/3rdparty/qmetaui-forms"]
	path = src/3rdparty/qmetaui-forms
	url = git@github.com:flaviomarcio/qmetaui-forms.git
[submodule "src/3rdparty/qapidoc"]
	path = src/3rdparty/qapidoc
	url = git@github.com:flaviomarcio/qapidoc.git
[submodule "src/3rdparty/qnotation"]
	path = src/3rdparty/qnotation
	url = git@github.com:flaviomarcio/qnotation.git
